<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="House_of_Quran.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <House_of_Quran.Properties.Settings>
            <setting name="DerniereSourate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DernierRecitateur" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="DernierePolice" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DerniereTaille" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="DernierEspacement" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CurrentDownloadIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tajweed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LectureAutomatique" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepeterLecture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChoixRecitation" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TempsRepeter" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="UniquementPourVerset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModeLecture" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TempsRepeterMemo" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TempsRepeterMemoSeconde" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TempsRepeterSeconde" serializeAs="String">
                <value>1</value>
            </setting>
        </House_of_Quran.Properties.Settings>
    </userSettings>
</configuration>